---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<p><em> Feedback from students: Students really like the clear
  and step-by-step explanations as well as the added explanations on the board. </em></p>


{% assign teaching_items = site.teaching | sort: "venue_order"
%}
{% assign teaching_by_venue = teaching_items | group_by: "venue"
%}

{% for venue_group in teaching_by_venue %}
  <h2>{{ venue_group.name }}</h2>

  {% assign venue_modules = venue_group.items | reverse %}
  {% for post in venue_modules %}
    {% include archive-single.html hide_teaching_venue=true %}
  {% endfor %}
{% endfor %}